[Unit]
Description=Run pm-robot positions ingestor every 10 minutes

[Timer]
OnBootSec=90s
OnUnitActiveSec=10min
AccuracySec=30s
Persistent=true

[Install]
WantedBy=timers.target
