[Unit]
Description=Run pm-robot copy graph miner hourly

[Timer]
OnBootSec=5min
OnUnitInactiveSec=1h
AccuracySec=5min
Persistent=true

[Install]
WantedBy=timers.target
